body {
  background-image: url(background.jpeg);
  margin: 0;
  font-family: "Cedarville Cursive", cursive;
  font-family: "Montserrat", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
}
